*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:#212121
}
.card{
    width: 90%;
    max-width: 470px;
    color: #fff;
    background: linear-gradient(135deg , #5b548a,#00e0fe );
    border-radius: 20px;
    margin: 100px auto;
    padding: 40px 35px;
    text-align: center;

}
.search{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebbffc;
    color: #555;
    padding: 10px 25px;
    flex: 1;
    font-size: 18px;
    margin-right: 16px;
    border-radius: 30px;
}
.search button{
    border: 0;
    outline: 0;
    background: #ebbffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 16px;
    height: 20px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 50px;
    font-weight: 100;
}
.weather h2{
    font-size: 40px;
    font-weight: 100;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    margin-right: 10px;
    width: 40px;
}
.weather{
    display:none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}